/* font family link */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --primary_color_dark--:rgb(97, 31, 0);
    --primary_light:rgb(233, 51, 1);
    --p--:#b3b3b3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.scroll{
    overflow-y:hidden;
}
body{
    font-family: "Roboto", sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Navcation section */
.menu_icon{
    display: none;
}
.menu_close{
    display: none;
}
nav{
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_container{
    max-width: 1920px;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.224);
}

.nav_container .left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height:100%;
}
.nav_container .left .logo{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_container .left .logo img{
width: 60%;
}
.nav_container .right{
width: auto;
margin-right: 40px;
height: 100%;
display: flex;
align-items: center;
}
.nav_container .right .menu_item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_container .right ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav_container .right ul li{
    list-style: none;
    margin: 0px 0px;
}
.nav_container .right ul li a{
    padding: 10px;
    border-radius: 10px;
    color: var(--primary_color_dark--);
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s;
}
.nav_container .right ul li a:hover{
    color: white;
    background-color: var(--primary_color_dark--);
}
.nav_container .icon_menu_sub img{
position:relative;
top: 5px;
right:2px;
width: 25px;
}
/* Navcation section  END*/
/* Slider page */
.slider_container{
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    width: 90vw;
    height:500px;
    background: #00000038;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.slider_container .sliders{
    transition: all 1s;
    width: 500vw;
    height: 100%;
    transform: translateX(0vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider_container .sliders .slide{
width: 100vw;
height: 100%;
max-width: 1920px;
display: flex;
align-items: center;
justify-content: center;
}
.slider_container .sliders .slide img{
    width: 100%;
}
.slider_container .sliders .slide:nth-child(even){
    background-color: rebeccapurple;
}
.slider_container .control_btn{
    width:100%;
    height:0px;
    z-index: 1;
    position: absolute;
    top: 1;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider_container .control_btn .left,
.slider_container .control_btn .right{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #4e00007c;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}
.slider_container .control_btn  svg{
width: 50%;
fill: white;
}
.slider_container .control_btn  svg:hover{
    fill:#711818;
}
.slider_container .control_btn .left:hover{
    background: #ffffffab;
}
.slider_container .control_btn .right:hover{
    background: #ffffffab;
}
/* Slider page END*/
/* <!-- Institute Advantage --> */
.institute_container{
    position: relative;
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(90deg,rgb(153, 3, 3),rgb(66, 0, 0));
}
.institute_container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./source/slider/all_student.webp');
    background-position: center;
    background-size: cover;
    z-index: 0;
    opacity: 0.1;
}
.institute_container .institute{
    width: 90vw;
    height: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.institute_container .institute .list{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.institute_container .institute .list .img{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.institute_container .institute .list .img img{
    width: 25%;
}
.institute_container .institute .list h1{
    color: white;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

/* <!-- Institute Advantage END--> */
 /* child creativity Section */
.creativity_container{
margin: 40px 0px;
width: 100vw;
height: 400px;
position: relative;
flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
}
.creativity_container::after{
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background:url('./source/slider/drawing_photos.avif');
    background-size: 100%;
    background-position: -650px;
    opacity: 0.2;
}
.creativity_container .head{
    max-width: 1920px;
    width: 90vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-self: flex-start;
}
.creativity_container .head .circle{
    width: 35px;
    height: 35px;
    margin: 0px 10px;
    background: #cb2b1588;
    border-radius: 50%;
}
.creativity_container .head .text h1{
    font-size: 24px;
    color: #751600;
}
.creativity_container .head .line_head{
    width: 100px;
    height: 4px;
    margin: 0px 10px;
    border-radius: 20px;
    background: #cb2b1588;
}

 .swiper-container {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    width: 90vw;
    max-width: 1920px;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swiper-slide{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide img {
    width: 24%;
    margin: 0px 4px;
    height: auto;
}
.swiper-pagination{
    position: absolute;
}
 /* Custom styles for pagination bullets */
 .swiper-pagination-bullet {
    background-color: #820101 !important; /* Custom color for pagination bullets */
    opacity: 1; /* Ensure the bullets are fully opaque */
}

.swiper-pagination-bullet-active {
    background-color: #601200 !important; /* Custom color for active pagination bullet */
}

/* Custom styles for navigation arrows */
.swiper-button-next,
.swiper-button-prev{
width: 40px;
height: 40px;
 
   border-radius: 20px;
}
.swiper-button-next svg,
.swiper-button-prev svg{
fill: #df9800 !important; /* Custom color for navigation arrows */
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '' !important; /* Hide default icons */
}
/* child creativity Section END*/
/* Course information page==================> */
#course_container{
    overflow: hidden;
    width: 100vw;
    height: 380px;
    margin: 20px 0px 0px 0px;
    background-color: #711818;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center; 
}
.course_container{
width: 100vw;
overflow:scroll;
height: 400px;
margin: 20px 0px;
background-color: #711818;
display: flex;
align-items:flex-start;
flex-direction: column;
justify-content:center;
}
#course_container .head{
    height: 90px;
    width: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
#course_container .head h1{
    color: white;
    font-size: 1.5em;
}
#course_container .head i{
margin: 0px 10px;
}
.course_container .course{
width:auto;
height:80%;
display: flex;
justify-content:flex-start;
align-items: center;
gap: 10px;
margin: 0px 20px;
}
.course_container .course .list{
width: 200px;
height: 100%;
background: #ffffff;
display: flex;
align-items: center;
justify-content:flex-start;
flex-direction: column;
border-radius: 15px;
overflow: hidden;
}
.course_container .course .list .img{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3e3e3;
}
.course_container .course .list .name{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:rgb(0, 0, 0);
}
/* Course information page==================> */
/* ===========Feedback Page */
#feed_back_section{
    position: relative;
    width: 100vw;
    margin: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #540000;
}
#feed_back_section .head{
    height: 80px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
}
#feed_back_section .head i{
    margin: 0px  10px;
}
.glide {
    position: absolute;
    overflow: hidden;
    width: 90vw;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glide__slide {
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}
/* feedback-contents------------------------- */
.feedback-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 110px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.feedback-content .user{
    width: 100%;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.feedback-content .user .profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b9b9b9a8;
    display: flex;
    align-items:center;
    justify-content: center;
}
.feedback-content .user .name{
    width: 40%;
    margin: 0px 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.feedback-content .user .name p{
    font-size: 16px;
}
.feedback-content .rate{
    height: 20px;
    width: 70%;
    display: flex;
    align-items: flex-start;
    gap: 4px;
    justify-content: flex-start;
}
.feedback-content .rate i{
    font-size: 12px;
    color: rgb(255, 174, 0);
}
.feedback-content .message{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedback-content .message p{
    font-size: 14px;
    text-align: center;
    color: #656565;
}
/* ------Feedback End Page------- */
/* Mobile device */

@media (max-width:480px) {
/* ===========Feedback Page */
#feed_back_section{
    position: relative;
    width: 100vw;
    padding: 20px 0px;
    height:auto;
}
#feed_back_section .head{
    height: 100px;
    text-align: center;
    width: 80%;
    font-size: 12px;
    font-weight: bold;
}
.feedback-content{
    height: auto;
}
.feedback-content .user .profile{
    width: 25px;
    height: 25px;
}

.feedback-content .user .name p{
    font-size: 14px;
}
.feedback-content .rate{
    height: 20px;
    width: 60%;
}
.feedback-content .rate i{
    font-size: 12px;
    color: rgb(255, 174, 0);
}
.feedback-content .message{
    margin: 4px 0px;
}
.feedback-content .message p{
    font-size: 13px;
    text-align: center;
    color: #656565;
}
/* ------Feedback End Page------- */
/* child creativity Section */
 /* child creativity Section */
.creativity_container{
width: 100vw;
height: auto;
display: flex;
align-items: center;
justify-content: center;
}
 .swiper-container {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    width: 95vw;
    max-width: 1920px;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swiper-slide{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide img {
    width:100%;
    margin: 0px 4px;
    height: auto;
}
.creativity_container{
    margin: 10px 0px;
}
.creativity_container::after{
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background:url('./source/slider/drawing_photos.avif');
    background-size: 140%;
    background-position: 0px -128px;
    opacity: 0.1;
}

.creativity_container .head .text h1{
    font-size: 16px;
    font-weight: bold;
}
.creativity_container .head .line_head{
    width: 50px;
    height: 4px;

}
.creativity_container .head .circle{
    width: 30px;
    height: 30px;
}
    /* child creativity Section END*/
/* <!-- Institute Advantage --> */
.institute_container{
    height: 300px;
}
.institute_container .institute{
    width: 100vw;
    height: 30%;
    flex-direction: column;
    gap: 25px;
}
.institute_container .institute .list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.institute_container .institute .list .img{
    width: 100%;
    height: 40%;
}
.institute_container .institute .list .img img{
    width: 40px;
}
.institute_container .institute .list h1{
    color: white;
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
}

/* <!-- Institute Advantage END--> */
/* Navcation section */
.menu_icon{
    cursor: pointer;
    width: 24px;
    align-items: center;
    justify-content: center;
    display:flex;
}
.menu_icon svg{
    left: -10px;
    position: relative;
    width: 80%;
}
.menu_close{
    position: absolute;
    top: 50px;
    left:80vw;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display:flex;
    color: white;
    cursor: pointer;
}
.nav_container{
    background-color: white;
    max-width: 1920px;
    width: 100vw;
    height: 60px;
   
}


.nav_container .left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height:100%;
}
.nav_container .left .logo{
    width: 100px;
    height: 100%;
}
.nav_container .left .logo img{
width: 90%;
}
    .nav_container .right{
        width: auto;
        margin-right: 0px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
 }
         .nav_container .right .menu_item{
            overflow: hidden;
            position:fixed;
            top: 0px;
            left: 1000px;
            padding-top: 150px;
            background-color: var(--primary_color_dark--);
            width:100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: flex-start;
            transition: 0.5s;
        }
        .nav_container .right .open{
            left: 0;
            transition: 0.5s;
        }
        .nav_container .right ul{
            display: flex;
            align-items:start;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }
        .nav_container .right ul li{
            list-style: none;
            margin: 5px 0px;
        }
        .nav_container .right ul li a{
            padding: 5px;
            border-radius: 10px;
            color:white;
            text-decoration: none;
            font-size: 20px;
            transition: all 0.5s;
        }
}
/* Slider page============= */
.slider_container{
    width: 90vw;
    height:200px;
}
.slider_container .control_btn .left,
.slider_container .control_btn .right{
    width: 30px;
    height: 30px;
}
.slider_container .control_btn  svg{
width: 30%;
}
.swiper-wrapper{
    width:10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
/* ---------------------------------------- */

@media(min-width:481px){
/* Feed back page */

/* ===========Feedback Page */
#feed_back_section{
    position: relative;
    width: 100vw;
    margin: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #540000;
}
#feed_back_section .head{
    height: 100px;
    text-align: center;
    width: 95%;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.feedback-content .user .name p{
    font-size: 16px;
}
.feedback-content .rate{
    height: 20px;
    width: 70%;
    display: flex;
    align-items: flex-start;
    gap: 4px;
    justify-content: flex-start;
}

/* ------Feedback End Page------- */
/* feedback page End */
/* child creativity Section */
/* child creativity Section */
.creativity_container{
    width: 100vw;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }
     .swiper-container {
        position: relative;
        margin-top: 20px;
        overflow: hidden;
        width: 95vw;
        max-width: 1920px;
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide{
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide img {
        width: 100%;
        margin: 0px 4px;
        height: auto;
    }
    .creativity_container{
        margin: 5px 0px;
    }
    .creativity_container::after{
        content: '';
        position:absolute;
        height: 100%;
        width: 100%;
        background:url('./source/slider/drawing_photos.avif');
        background-size: 140%;
        background-position: 0px -128px;
        opacity: 0.2;
    }
    
    .creativity_container .head .text h1{
        font-size: 18px;
    }
    .creativity_container .head .line_head{
        width: 50px;
        height: 4px;
    
    }
    .creativity_container .head .circle{
        width: 35px;
        height: 35px;
    }
        /* child creativity Section END*/
/* child creativity Section END*/
/* <!-- Institute Advantage --> */
.institute_container{
    height: 400px;
}
.institute_container .institute{
    width: 100vw;
    height: 30%;
    flex-direction: column;
    gap: 25px;
}
.institute_container .institute .list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.institute_container .institute .list .img{
    width: 100%;
    height: 40%;
}
.institute_container .institute .list .img img{
    width: 60px;
}
.institute_container .institute .list h1{
    color: white;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

/* <!-- Institute Advantage END--> */
/* Navcation section */
.menu_icon{
    cursor: pointer;
    width: 25px;
    align-items: center;
    justify-content: center;
    display:flex;
}
.menu_icon svg{
    left: -10px;
    position: relative;
    width: 90%;
}
.menu_close{
    position: absolute;
    top: 50px;
    left:80vw;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display:flex;
    color: white;
    cursor: pointer;
}
.nav_container{
    background-color: white;
    max-width: 1920px;
    width: 100vw;
    height: 60px;
   
}


.nav_container .left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height:100%;
}
.nav_container .left .logo{
    width: 100px;
    height: 100%;
}
.nav_container .left .logo img{
width: 90%;
}
    .nav_container .right{
        width: auto;
        margin-right: 0px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
 }
         .nav_container .right .menu_item{
            overflow: hidden;
            position:fixed;
            top: 0px;
            left: 6000px;
            padding-top: 150px;
            background-color: var(--primary_color_dark--);
            width:100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: flex-start;
            transition: 0.5s;
        }
        .nav_container .right .open{
            left: 0;
            transition: 0.5s;
        }
        .nav_container .right ul{
            display: flex;
            align-items:start;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }
        .nav_container .right ul li{
            list-style: none;
            margin: 5px 0px;
        }
        .nav_container .right ul li a{
            padding: 5px;
            border-radius: 10px;
            color:white;
            text-decoration: none;
            font-size: 20px;
            transition: all 0.5s;
        }
        /* Slider page============= */
.slider_container{
    width: 90vw;
    height:250px;
}
.slider_container .control_btn .left,
.slider_container .control_btn .right{
    width: 40px;
    height: 40px;
}
.slider_container .control_btn  svg{
width: 100%;
}
}

/* ------------------------------------------- */

@media (min-width: 769px) and (max-width: 1024px) {
/* <!-- Institute Advantage --> */
.institute_container{
    height: 400px;
}
.institute_container .institute{
    width: 100vw;
    height: 30%;
    flex-direction: column;
    gap: 25px;
}
.institute_container .institute .list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.institute_container .institute .list .img{
    width: 100%;
    height: 40%;
}
.institute_container .institute .list .img img{
    width: 60px;
}
.institute_container .institute .list h1{
    color: white;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}
/* ---------------------------- */
.creativity_container{
    margin: 5px 0px;
}
.creativity_container::after{
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background:url('./source/slider/drawing_photos.avif');
    background-size: 140%;
    background-position: 0px -128px;
    opacity: 0.2;
}

.creativity_container .head .text h1{
    font-size: 22px;
}
.creativity_container .head .line_head{
    width: 50px;
    height: 4px;

}
.creativity_container .head .circle{
    width: 35px;
    height: 35px;
}
/* <!-- Institute Advantage END--> */
/* Navcation section */
.menu_icon{
    cursor: pointer;
    width: 28px;
    align-items: center;
    justify-content: center;
    display:flex;
}
.menu_icon svg{
    left: -10px;
    position: relative;
    width: 100%;
}
.menu_close{
    position: absolute;
    top: 50px;
    left:80vw;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display:flex;
    cursor: pointer;
}
.nav_container{
    background-color: white;
    max-width: 1920px;
    width: 100vw;
    height: 60px;
   
}


.nav_container .left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height:100%;
}
.nav_container .left .logo{
    width: 100px;
    height: 100%;
}
.nav_container .left .logo img{
width: 90%;
}
    .nav_container .right{
        width: auto;
        margin-right: 0px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
 }
         .nav_container .right .menu_item{
            overflow: hidden;
            position:fixed;
            top: 0px;
            left: 4000px;
            padding-top: 150px;
            background-color: var(--primary_color_dark--);
            width:100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            transition: 0.5s;
        }
        .nav_container .right .open{
    
            left: 0;
            transition: 0.5s;
        }
        .nav_container .right ul{
            display: flex;
            align-items:start;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            margin-top: -400px;
        }
        .nav_container .right ul li{
            list-style: none;
            margin: 10px 0px;
        }
        .nav_container .right ul li a{
            padding: 5px;
            border-radius: 10px;
            color:white;
            text-decoration: none;
            font-size: 30px;
            transition: all 0.5s;
        }
                /* Slider page============= */
.slider_container{
    width: 90vw;
    height:450px;
}
.slider_container .control_btn .left,
.slider_container .control_btn .right{
    width: 50px;
    height: 50px;
}
.slider_container .control_btn  svg{
width: 38%;
}
}

/* ------------------------------------------- */

@media(min-width:1025px){

/* child creativity Section */
/* child creativity Section */
.creativity_container{
    width: 100vw;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }
     .swiper-container {
        position: relative;
        margin-top: 20px;
        overflow: hidden;
        width: 95vw;
        max-width: 1920px;
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide{
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide img {
        width: 100%;
        margin: 0px 4px;
        height: auto;
    }
        /* child creativity Section END*/
/* child creativity Section END*/
/* <!-- Institute Advantage --> */
.institute_container{
    height: 200px;
}
.institute_container .institute{
    width: 50vw;
    height: 40%;
    flex-direction:row;
    gap: 25px;
}
.institute_container .institute .list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.institute_container .institute .list .img{
    width: 100%;
    height: 40%;
}
.institute_container .institute .list .img img{
    width: 60px;
}
.institute_container .institute .list h1{
    color: white;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

/* <!-- Institute Advantage END--> */
/* Navcation section */
.menu_icon{
    display: none;
}
.menu_close{
    display: none;
}
nav{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_container{
    max-width: 1920px;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.137);
}

.nav_container .left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height:100%;
}
.nav_container .left .logo{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_container .left .logo img{
width: 50%;
}
.nav_container .right{
width: 200px;
margin-right: 40px;
height: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
} .nav_container .right{
    width: auto;
    margin-right: 2px;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
     .nav_container .right .menu_item{
        overflow: hidden;
        position:inherit;
        top: 0px;
        left: 0px;
        padding-top:0px;
        padding: 0px 120px 0px 0px;
        background-color:transparent;
        width:100vw;
        height:80px;
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
        transition: 0.5s;
    }
    .nav_container .right .open{
        left: 0;
        transition: 0.5s;
    }
    .nav_container .right ul{
        display: flex;
        align-items:start;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }
    .nav_container .right ul li{
        list-style: none;
        margin: 5px 0px;
    }
.nav_container .right ul li a{
    padding: 10px;
    border-radius: 10px;
    color: var(--primary_color_dark--);
    text-decoration: none;
    font-size: 12px;
    transition: all 0.5s;
}
.nav_container .icon_menu_sub img{
    position:relative;
    top: 5px;
    right:2px;
    width: 20px;
    }

/* Navcation section  END*/
                /* Slider page============= */
                .slider_container{
                    width: 90vw;
                    height:500px;
                }
                .slider_container .control_btn .left,
                .slider_container .control_btn .right{
                    width: 50px;
                    height: 50px;
                }
                .slider_container .control_btn  svg{
                width: 38%;
                }



}

/* ------------------------------------------- */

@media(min-width:1201px){
/* ===========Feedback Page */
#feed_back_section{
    position: relative;
    width: 100vw;
    padding: 20px 0px;
    height:auto;
}
#feed_back_section .head{
    height: 100px;
    text-align: center;
    width: 95%;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.feedback-content{
    height: auto;
}
.feedback-content .user .profile{
    width: 25px;
    height: 25px;
}

.feedback-content .user .name p{
    font-size: 14px;
}
.feedback-content .rate{
    height: 20px;
    width: 70%;
}
.feedback-content .rate i{
    font-size: 12px;
    color: rgb(255, 174, 0);
}
.feedback-content .message{
    margin: 4px 0px;
}
.feedback-content .message p{
    font-size: 13px;
    text-align: center;
    color: #656565;
}
/* ------Feedback End Page------- */
/* Navication page */
.nav_container .right .menu_item{
    overflow: hidden;
    position:inherit;
    top: 0px;
    left: 0px;
    padding-top:0px;
    padding: 0px 80px 0px 0px;
    background-color:transparent;
    width:100vw;
    height:80px;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    transition: 0.5s;
}
.nav_container .right ul{
    display: flex;
    align-items:start;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.nav_container .right ul li{
    list-style: none;
    margin: 5px 0px;
}
.nav_container .right ul li a{
padding: 10px;
border-radius: 10px;
color: var(--primary_color_dark--);
text-decoration: none;
font-size: 14px;
transition: all 0.5s;
}
/* child creativity Section */

/* child creativity Section END*/
/* Navication page  End*/
/* Slider page============= */
.slider_container{
    width: 90vw;
    height:550px;
}
.slider_container .control_btn .left,
.slider_container .control_btn .right{
    width: 30px;
    height: 30px;
}
.slider_container .control_btn  svg{
width: 30%;
}
/* ------------------------------------------------------- */
.creativity_container{
    margin: 5px 0px;
}
.creativity_container::after{
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background:url('./source/slider/drawing_photos.avif');
    background-size: 140%;
    background-position: 0px -128px;
    opacity: 0.2;
}

.creativity_container .head .text h1{
    font-size: 24px;
}
.creativity_container .head .line_head{
    width: 50px;
    height: 4px;

}
.creativity_container .head .circle{
    width: 35px;
    height: 35px;
}
}

/* ------------------------------------------- */
@media(min-width:192dpi){

}

/* ------------------------------------------- */